<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>ACE ENGLISH Cần Thơ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <!-- themify-icons -->
  <link href="/static/icons/themify-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>


.icon-bar {
    width: 150px;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
	color: #f4511e;
	text-decoration: none;
}

.active {
    background-color: #f4511e !important;
	color: white;
	pointer-events: none;
	cursor: pointer;
}

</style>
</head>
<body>
	
<div class="icon-bar">
	  <a href="#" class="active">TOEIC</a> 
	  <a href="#">VSTEP></i></a> 
	  <a href="#">IELTS<i class="fa fa-globe"></i></a>
	  <a href="#">GIAO TIẾP<i class="fa fa-trash"></i></a> 
	</div>	
		
				<!--nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand navbar-left href="/"">ACEicon</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="/">TRANG CHỦ</a></li>
					<li><a href="/about">GIỚI THIỆU</a></li>
					<li class="dropdown"><a  href="/contact" class="dropdown-toggle" data-toggle="dropdown">KHÓA HỌC <i class="fa ti-angle-down icon-extra-small text-white tz-icon-color"></i></a>
						<div class="dropdown-content">
						  <hr>
						  <a href="/toeic">TOEIC</a>
						  <a href="/vstep">VSTEP</a>
						  <a href="/ielts">IELTS</a>
						  <a href="/giao-tiep">GIAO TIẾP</a>
						</div>
					
					</li>
					<li><a href="/">TIN TỨC</a></li>
					
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/achievements">THÀNH TÍCH <i class="fa ti-angle-down icon-extra-small text-white tz-icon-color"></i></a>
						<div class="dropdown-content">
						<hr>
						  <a href="/thanh-tich-toeic">TOEIC</a>
						  <a href="/thanh-tich-vstep">VSTEP</a>
						  <a href="/thanh-tich-ielts">IELTS</a>
						</div>
					</li>
					<li><a href="/contact">LIÊN HỆ</a></li>
				  </ul>
				</div>
			</div>
		</nav-->
</body>
</html>  