<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>ACE ENGLISH Cần Thơ</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
   <!-- themify-icons -->
  <link href="/static/icons/themify-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  <link rel="stylesheet" href="/static/gallery-grid.css">
  <style>
  
  </style>
</head>
<body id="thanh-tich-vstep" data-spy="scroll" data-target=".navbar" data-offset="60">

	<nav class="navbar navbar-default navbar-fixed-top" style="width:100%">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand navbar-left href="/"">ACEicon</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="/">TRANG CHỦ</a></li>
					<li><a href="/about">GIỚI THIỆU</a></li>
					<li class="dropdown"><a  href="/contact" class="dropdown-toggle" data-toggle="dropdown">KHÓA HỌC <i class="fa ti-angle-down icon-extra-small text-white tz-icon-color"></i></a>
						<div class="dropdown-content">
						  <hr>
						  <a href="/toeic">TOEIC</a>
						  <a href="/vstep">VSTEP</a>
						  <a href="/ielts">IELTS</a>
						  <a href="/giao-tiep">GIAO TIẾP</a>
						</div>
					
					</li>
					<li><a href="/hinh-anh-lop-hoc">HÌNH ẢNH</a></li>
					
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/achievements">THÀNH TÍCH <i class="fa ti-angle-down icon-extra-small text-white tz-icon-color"></i></a>
						<div class="dropdown-content">
						<hr>
						  <a href="/thanh-tich-toeic">TOEIC</a>
						  <a href="/thanh-tich-vstep">VSTEP</a>
						  <a href="/thanh-tich-ielts">IELTS</a>
						</div>
					</li>
					<li><a href="/contact">LIÊN HỆ</a></li>
				  </ul>
				</div>
			</div>
		</nav>

<div class="container gallery-container">

    <h1>VSTEP WARRIORS</h1>

    <p class="page-description text-center">from ACE ENGLISH</p>
    
    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/1.jpg">
                    <img src="../static/thanh-tich-vstep/1.jpg" alt="1">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/2.png">
                    <img src="../static/thanh-tich-vstep/2.png" alt="2">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/3.png">
                    <img src="../static/thanh-tich-vstep/3.png" alt="3">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/4.png">
                    <img src="../static/thanh-tich-vstep/4.png" alt="4">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/5.jpg">
                    <img src="../static/thanh-tich-vstep/5.jpg" alt="5">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/6.jpg">
                    <img src="../static/thanh-tich-vstep/6.jpg" alt="6">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/7.jpg">
                    <img src="../static/thanh-tich-vstep/7.jpg" alt="7">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/8.png">
                    <img src="../static/thanh-tich-vstep/8.png" alt="8">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/9.png">
                    <img src="../static/thanh-tich-vstep/9.png" alt="9">
                </a>
            </div>
			<div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../static/thanh-tich-vstep/10.jpg">
                    <img src="../static/thanh-tich-vstep/10.jpg" alt="10">
                </a>
            </div>
			
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
<footer class="container-fluid text-center">
  <a href="#thanh-tich-vstep" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#thanh-tich-vstep']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
